<h1>About us</h1>
<p>
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
is a porject to make a book and screencasts to teach web development
iwth <a href="http://rubyonrails.org">Ruby on Rails</a>. This is the
sample application for the tutorial.
</p>
